.controls {
  position: absolute;
  inset-block-start: auto;
  inset-block-end: 0.5rem;
  inset-inline-end: auto;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  z-index: 2;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  border: 1px solid $color-border;
  border-radius: $border-radius;

  background-color: $color-background;

  > * + * {
    border-inline-start: 1px solid $color-border;
  }
}
