// default button style reset
button {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  cursor: pointer;

  font: inherit;
  color: inherit;

  appearance: none;
  -webkit-appearance: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.4rem;
  cursor: pointer;

  @include hover(background-color, $color-secondary, $transition-duration);

  &:active {
    background-color: $color-primary;
  }

  &[aria-disabled="true"] {
    cursor: not-allowed;
    transform: none;

    svg {
      opacity: 0.3;
    }
  }
}

.label {
  @include visually-hidden;
}
